.grid-container {
  margin: 10px;
}

.artwork-card {
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow: hidden;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.artwork-card-content {
  text-align: center;
}

.mat-card-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

